@media (min-width: 896px) and (max-height: 601px) {
  .login {
    /* ACTION */
    /* FORM */
  }
  .login .actions {
    padding: 20px 20px 0px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* TOGGLE THEME */
    /* TOGGLE LANGUAGES */
  }
  .login .actions .theme-toggle {
    width: 56px;
    height: 56px;
  }
  .login .actions .language-toggle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-selected {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: var(--block-color);
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-list {
    padding: 0px 6px 0px 6px;
    margin-top: 0px;
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-item {
    min-width: 32px;
    max-width: 32px;
  }
  .login .actions .language-toggle[data-state=close] .language-toggle-selected:hover {
    color: var(--font-color);
    text-shadow: none;
  }
  .login .actions .language-toggle[data-state=close] .language-toggle-item {
    max-width: 0px;
  }
  .login .actions .language-toggle-selected {
    width: 56px;
    height: 56px;
  }
  .login .actions .language-toggle-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: auto;
    overflow: auto;
    max-width: 172px;
  }
  .login .actions .language-toggle-item {
    height: 32px;
    width: 32px;
    max-width: 0;
    max-height: auto;
  }
}