/* INPUT */
.input {
  margin-bottom: 8px;
}
.input:last-child {
  margin-bottom: 0px;
}
.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  position: relative;
}
.input-field {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-left: 56px;
  padding-right: 16px;
  -webkit-box-shadow: inset var(--easy-shadow);
          box-shadow: inset var(--easy-shadow);
  background-color: var(--background-color);
  color: var(--font-color);
}
.input-field:focus {
  -webkit-box-shadow: inset var(--primary-outline-shadow-hover);
          box-shadow: inset var(--primary-outline-shadow-hover);
  background-color: rgba(var(--rgb-primary), 0.1);
}
.input-field:hover {
  -webkit-box-shadow: inset var(--primary-outline-shadow-hover);
          box-shadow: inset var(--primary-outline-shadow-hover);
}
.input-field-success {
  background-color: rgba(var(--rgb-success), 0.2);
  border: 0.5px solid var(--success);
  -webkit-box-shadow: inset var(--easy-shadow);
          box-shadow: inset var(--easy-shadow);
  padding-left: 56px;
  padding-right: 56px;
}
.input-field-success:focus {
  -webkit-box-shadow: inset var(--success-outline-shadow-hover);
          box-shadow: inset var(--success-outline-shadow-hover);
  background-color: rgba(var(--rgb-success), 0.1);
}
.input-field-success:hover {
  border: 0.5px solid var(--success);
  -webkit-box-shadow: inset var(--easy-shadow);
          box-shadow: inset var(--easy-shadow);
}
.input-field-error {
  background-color: rgba(var(--rgb-error), 0.2);
  border: 0.5px solid var(--error);
  -webkit-box-shadow: inset var(--easy-shadow);
          box-shadow: inset var(--easy-shadow);
  padding-left: 56px;
  padding-right: 56px;
}
.input-field-error:focus {
  -webkit-box-shadow: inset var(--error-outline-shadow-hover);
          box-shadow: inset var(--error-outline-shadow-hover);
  background-color: rgba(var(--rgb-error), 0.1);
}
.input-field-error:hover {
  border: 0.5px solid var(--error);
  -webkit-box-shadow: inset var(--easy-shadow);
          box-shadow: inset var(--easy-shadow);
}
.input-field-no-icon {
  padding-left: 16px;
  padding-right: 16px;
}
.input-icon {
  position: absolute;
  width: 20px;
  left: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}
.input-icon-status {
  position: absolute;
  width: 20px;
  right: 20px;
}
.input-icon-status-success {
  z-index: 1;
  fill: var(--success);
  -webkit-filter: drop-shadow(var(--success-outline-shadow-hover));
          filter: drop-shadow(var(--success-outline-shadow-hover));
}
.input-icon-status-error {
  z-index: 1;
  fill: var(--error);
  -webkit-filter: drop-shadow(var(--error-outline-shadow-hover));
          filter: drop-shadow(var(--error-outline-shadow-hover));
}
.input-icon-svg {
  fill: var(--font-color);
}