@media (max-width: 639px) {
  .login,
  .forgot,
  .support,
  .register,
  .verification,
  .change-password {
    background-color: var(--block-color);
    /* ACTIONS */
    /* FORM */
    /* FOOTER */ 
  }
  .login .actions,
  .forgot .actions,
  .support .actions,
  .register .actions,
  .verification .actions,
  .change-password .actions {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    /* TOGGLE THEME */
    /* TOGGLE LANGUAGE */
  }
  .login .actions .theme-toggle,
  .forgot .actions .theme-toggle,
  .support .actions .theme-toggle,
  .register .actions .theme-toggle,
  .verification .actions .theme-toggle,
  .change-password .actions .theme-toggle {
    width: 56px;
    height: 56px;
  }
  .login .actions .language-toggle,
  .forgot .actions .language-toggle,
  .support .actions .language-toggle,
  .register .actions .language-toggle,
  .verification .actions .language-toggle,
  .change-password .actions .language-toggle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-selected,
  .forgot .actions .language-toggle[data-state=open] .language-toggle-selected,
  .support .actions .language-toggle[data-state=open] .language-toggle-selected,
  .register .actions .language-toggle[data-state=open] .language-toggle-selected,
  .verification .actions .language-toggle[data-state=open] .language-toggle-selected,
  .change-password .actions .language-toggle[data-state=open] .language-toggle-selected {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: var(--block-color);
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-list,
  .forgot .actions .language-toggle[data-state=open] .language-toggle-list,
  .support .actions .language-toggle[data-state=open] .language-toggle-list,
  .register .actions .language-toggle[data-state=open] .language-toggle-list,
  .verification .actions .language-toggle[data-state=open] .language-toggle-list,
  .change-password .actions .language-toggle[data-state=open] .language-toggle-list {
    padding: 0px 6px 0px 6px;
    margin-top: 0px;
  }
  .login .actions .language-toggle[data-state=open] .language-toggle-item,
  .forgot .actions .language-toggle[data-state=open] .language-toggle-item,
  .support .actions .language-toggle[data-state=open] .language-toggle-item,
  .register .actions .language-toggle[data-state=open] .language-toggle-item,
  .verification .actions .language-toggle[data-state=open] .language-toggle-item,
  .change-password .actions .language-toggle[data-state=open] .language-toggle-item {
    min-width: 32px;
    max-width: 32px;
  }
  .login .actions .language-toggle[data-state=close] .language-toggle-selected:hover,
  .forgot .actions .language-toggle[data-state=close] .language-toggle-selected:hover,
  .support .actions .language-toggle[data-state=close] .language-toggle-selected:hover,
  .register .actions .language-toggle[data-state=close] .language-toggle-selected:hover,
  .verification .actions .language-toggle[data-state=close] .language-toggle-selected:hover,
  .change-password .actions .language-toggle[data-state=close] .language-toggle-selected:hover {
    color: var(--font-color);
    text-shadow: none;
  }
  .login .actions .language-toggle[data-state=close] .language-toggle-item,
  .forgot .actions .language-toggle[data-state=close] .language-toggle-item,
  .support .actions .language-toggle[data-state=close] .language-toggle-item,
  .register .actions .language-toggle[data-state=close] .language-toggle-item,
  .verification .actions .language-toggle[data-state=close] .language-toggle-item,
  .change-password .actions .language-toggle[data-state=close] .language-toggle-item {
    max-width: 0px;
  }
  .login .actions .language-toggle-selected,
  .forgot .actions .language-toggle-selected,
  .support .actions .language-toggle-selected,
  .register .actions .language-toggle-selected,
  .verification .actions .language-toggle-selected,
  .change-password .actions .language-toggle-selected {
    width: 56px;
    height: 56px;
  }
  .login .actions .language-toggle-list,
  .forgot .actions .language-toggle-list,
  .support .actions .language-toggle-list,
  .register .actions .language-toggle-list,
  .verification .actions .language-toggle-list,
  .change-password .actions .language-toggle-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    overflow: auto;
    max-width: 172px;
    height: 36px;
  }
  .login .actions .language-toggle-item,
  .forgot .actions .language-toggle-item,
  .support .actions .language-toggle-item,
  .register .actions .language-toggle-item,
  .verification .actions .language-toggle-item,
  .change-password .actions .language-toggle-item {
    height: 32px;
    width: 32px;
    max-width: 0;
    max-height: auto;
  }
  .login .form,
  .forgot .form,
  .support .form,
  .register .form,
  .verification .form,
  .change-password .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* FORM BODY */
    /* FORM FOOTER */
  }
  .login .form-wrapper,
  .forgot .form-wrapper,
  .support .form-wrapper,
  .register .form-wrapper,
  .verification .form-wrapper,
  .change-password .form-wrapper {
    position: relative;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    height: auto !important;
  }
  .login .form-body,
  .forgot .form-body,
  .support .form-body,
  .register .form-body,
  .verification .form-body,
  .change-password .form-body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .login .form-body-footer .link-text,
  .forgot .form-body-footer .link-text,
  .support .form-body-footer .link-text,
  .register .form-body-footer .link-text,
  .verification .form-body-footer .link-text,
  .change-password .form-body-footer .link-text {
    font-size: 12px;
  }
  .login .form-footer,
  .forgot .form-footer,
  .support .form-footer,
  .register .form-footer,
  .verification .form-footer,
  .change-password .form-footer {
    position: static;
  }
  .login .footer,
  .forgot .footer,
  .support .footer,
  .register .footer,
  .verification .footer,
  .change-password .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
  }
  .login .footer .help .help-text,
  .forgot .footer .help .help-text,
  .support .footer .help .help-text,
  .register .footer .help .help-text,
  .verification .footer .help .help-text,
  .change-password .footer .help .help-text {
    font-size: 14px;
  }
  .login .footer .help .help-icon,
  .forgot .footer .help .help-icon,
  .support .footer .help .help-icon,
  .register .footer .help .help-icon,
  .verification .footer .help .help-icon,
  .change-password .footer .help .help-icon {
    width: 14px;
  }
  .forgot .form,
  .support .form,
  .register .form,
  .verification .form,
  .change-password .form {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 28px 0px 28px;
    /* FORM BODY */
  }
  .forgot .form-body,
  .support .form-body,
  .register .form-body,
  .verification .form-body,
  .change-password .form-body {
    margin-top: 24px;
  }
  .login {
    /* FORM */
  }
  .login .form {
    padding: 0px 28px 0px 28px;
    /* FORM BODY */
    /* FORM FOOTER */
  }
  .login .form-header {
    position: static;
    /* FORM HEADER ROLES */
  }
  .login .form-header-logo {
    display: none;
  }
  .login .form-header-roles {
    padding: 0px;
  }
  .login .form-header-roles .item {
    width: 56px;
    background-color: var(--block-color);
    padding: 0;
    margin-right: 10px;
  }
  .login .form-header-roles .item:last-child {
    margin-right: 0px;
  }
  .login .form-header-roles .item-text {
    display: none;
  }
  .login .form-header-roles .item-role {
    margin-bottom: 5px;
    height: 56px;
  }
  .login .form-header-roles .item-role-image {
    width: 28px;
    height: 28px;
  }
  .login .form-header-roles .item:hover {
    width: 56px;
    height: 56px;
  }
  .login .form-header-roles .item:hover .item-text {
    opacity: 0;
  }
  .login .form-header-roles .item:hover .item-role {
    -webkit-box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow-hover);
            box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow-hover);
  }
  .login .form-header-roles .item:hover .item-role-image {
    width: 28px;
    height: 28px;
  }
  .login .form-header-roles .changed {
    width: 64px;
    height: 64px;
  }
  .login .form-header-roles .changed .item {
    margin-bottom: 20px;
  }
  .login .form-header-roles .changed .item-text {
    font-size: 12;
    display: block;
  }
  .login .form-header-roles .changed .item-role {
    height: 64px;
    border-radius: 15px;
  }
  .login .form-header-roles .changed .item-role-image {
    width: 32px;
    height: 32px;
  }
  .login .form-header-roles .changed:hover {
    width: 64px;
  }
  .login .form-header-roles .changed:hover .item-text {
    opacity: 0.7;
  }
  .login .form-header-roles .changed:hover .item-role {
    border-radius: 15px;
    -webkit-box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow);
            box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow);
  }
  .login .form-header-roles .changed:hover .item-role-image {
    width: 32px;
    height: 32px;
  }
  .login .form-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .login .form-footer {
    /* FORM FOOTER SOCIAL */
  }
  .login .form-footer .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px;
  }
  .login .form-footer .social .item {
    width: 64px;
    height: 64px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: var(--block-color);
    -webkit-box-shadow: var(--extra-shadow);
            box-shadow: var(--extra-shadow);
  }
  .login .form-footer .social .item:last-child {
    margin-right: 0px;
  }
  .login .form-footer .social .item .btn-icon {
    width: 32px;
    height: 32px;
  }
  .login .form-footer .social .item:hover .btn {
    -webkit-box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow-hover);
            box-shadow: var(--medium-shadow), inset var(--primary-outline-shadow-hover);
    border-radius: 10px;
  }
  .register {
    /* FORM */
  }
  .register .form {
    /* FORM BODY */
  }
  .register .form-body {
    margin-top: 48px;
  }
}
@media (max-width: 420px) {
  .register {
    /* FORM */
  }
  .register .form {
    /* FORM BODY */
  }
  .register .form-body {
    padding-right: 10px;
    padding-left: 10px;
  }
  .register .form-body-text {
    font-size: 10px;
  }
}