.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -48px;
}
.social .item {
  width: 94px;
  height: 94px;
  -webkit-box-shadow: inset 0px 8px 4px rgba(var(--rgb-dark), 0.3);
          box-shadow: inset 0px 8px 4px rgba(var(--rgb-dark), 0.3);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin-right: 8px;
  padding: 10px;
  background-color: var(--background-color);
}
.social .item .btn {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--medium-shadow);
          box-shadow: var(--medium-shadow);
  background-color: var(--block-color);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.social .item .btn-icon {
  width: 32px;
  height: 32px;
}
.social .item:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 8px 4px rgba(var(--rgb-dark), 0.3);
          box-shadow: inset 0px 8px 4px rgba(var(--rgb-dark), 0.3);
}
.social .item:hover .btn {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: inset var(--primary-outline-shadow-hover);
          box-shadow: inset var(--primary-outline-shadow-hover);
  border-radius: 20px;
}